.productimage{
    width: 600px;
    height: 500px;
}

.btn{
    background-color: #72A0C1;
}

.product{
    height: 500px;
}

.review-main{
    width: 1000px;
}

.modal{
    width: 600px;
}

.simproduct{
    width: 400px;
    height: 175px;
}