<div *ngIf="product" class="flex justify-center mt-20 product relative">
    <div class="w-full max-w-6xl grid grid-cols-2 items-center">
        <div class="flex justify-center items-center">
            <img class="productimage" src="{{product.images[0]}}" alt="" srcset="">
        </div>
        <div class="mx-5">
            <div>
                <p class="absolute top-1 text-cyan-400 text-xl">
                    {{categoryEnum[product.category]}}
                </p>
                <div class="my-5">
                    <p class="text-3xl text-slate-800 font-bold">{{product.productName}}</p>
                    <p class="text-xl text-slate-600">{{product.details}}</p>
                </div>

                <div class="flex items-center space-x-2 text-2xl">  
                    <app-readonly-star [stars]="product.rating"></app-readonly-star> 
                    <span class="font-semibold bottom-0">{{product.rating}} <span class="font-normal text-gray-400">({{product.reviews.length}} reviews)</span></span>
                </div>
                <div class="my-6">
                    <div *ngIf="product.discountPercentage!=0" class="">
                        <div class="flex">
                            <p class="text-xd">MRP: </p> <span class="line-through text-gray-500 text-md">&#8377;
                                {{product.price}}</span>
                        </div>
                        <div class="flex text-2xl font-bold">
                            Price: <span class="ml-1">&#8377;{{product.price-(product.price *
                                product.discountPercentage/100)}}</span>
                            <span class="text-lg ml-2 flex items-center text-green-400">({{product.discountPercentage}}%
                                OFF)</span>
                        </div>
                    </div>
                    <p *ngIf="product.discountPercentage===0" class="flex text-2xl font-bold">Price: &#8377;
                        <span>{{product.price}}</span>
                    </p>
                </div>
            </div>
            <div class="flex mt-14 mb-7 items-center">
                <p>Select Quantity</p>
                <div class="ms-6">
                    <div class="inline-flex rounded-md shadow-sm" role="group">
                        <button type="button" (click)="removeQuantity()"
                            class="px-5 py-2 text-md font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100">
                            -
                        </button>
                        <div disabled [innerText]="quantity"
                            class="px-5 py-2 text-md font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100">

                        </div>
                        <button type="button" (click)="addQuantity()"
                            class="px-5 py-2 text-md font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100">
                            +
                        </button>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-x-2.5">
                <button class="bg-blue-500 hover:bg-blue-600 px-5 py-3 border text-white" (click)="addProductToCart()">Add to Cart</button>
                <button class="px-5 py-3 border bg-white hover:bg-gray-50">Buy Now</button>
            </div>
        </div>
    </div>
</div>

<div class="mt-32 text-center font-bold border">
    PRODUCT BENEFITS
    <div class="flex justify-center items-center mt-8">
        <div class="h-32 border flex bg-blue-100 rounded-lg">
            <div class="w-40 flex justify-center items-center" *ngFor="let spec of specs">
                <div class="space-y-2 text-center ">
                    <div class="text-gray-500">
                        {{spec[0]}}
                    </div>
                    <div class="font-semibold">
                        {{spec[1]}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="font-bold text-center mt-32 border">
    ADDITIONAL INFORMATION
    <div class="flex justify-center items-center font-light mx-48 mt-8 text-left">
        {{product?.detailedDescription}}
    </div>
</div>

<div class="mt-32 flex justify-center">
    <div>
        <h2 class="font-bold text-center">REVIEWS</h2>
        <div class="flex justify-end review-main">
            <button type="button" (click)="openModal()" class="bg-blue-500 px-4 py-2 font-semibold rounded hover:bg-blue-600 text-white">
                Write a review
            </button>
        </div>

        <div *ngIf="reviews?.length>0" class="space-y-7 mt-10 review-main">
            <div *ngFor="let review of reviews" class="border rounded-md shadow p-5">
                <div class="font-semibold flex items-center">
                    <i class="fa fa-user-circle-o mr-2" aria-hidden="true"></i>
                    <span *ngIf="review.isAnonymous==false">{{review.name}}</span>
                    <span *ngIf="review.isAnonymous==true">Anonymous</span>
                    <span class="font-normal text-slate-400 text-sm ml-7">{{ review.commentDate | date:'medium'}}</span>
                </div>
                <p class="mt-2"><app-readonly-star [stars]="review.stars"></app-readonly-star> </p>
                <div class="mt-4">
                    <p class="font-semibold">{{review.comment}}</p>
                    <p class="text-slate-400">{{review.description}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="reviews?.length==0" class="text-center mt-24">
            No reviews yet!
        </div>
    </div>
</div>

<div class="font-bold text-center mt-32 border">
    SIMILAR PRODUCTS
    <div>

    </div>
</div>

<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" [hidden]="!showModal">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
            <div
                class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 modal">
                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4 ">
                    <div class="sm:flex sm:items-start">

                        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Write a Review
                            </h3>
                            <div class="mt-8">
                                    <div class="">
                                        <div class="mb-3">
                                            <div><label for="comment">Title: </label></div>

                                            <input class="border w-96" id="comment" type="email" formControlName="comment">
                                        </div>
                                        <div class="mb-3">
                                            <div><label for="description">Details: </label></div>

                                            <input class="border h-32 w-96 pt-1" id="description" type="text" formControlName="description">
                                        </div>
                                        <div class="mt-4">
                                            <app-star-rating formControlName="stars" ngDefaultControl></app-star-rating>
                                        </div>
                                        
                                        <input type="checkbox" formControlName="isAnonymous" class="mt-4">
                                        <span class="ml-2">Post this review anonymously</span>
                                        
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button type="submit"
                        class="inline-flex w-full justify-center rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-600 sm:ml-3 sm:w-auto">Submit</button>
                    <button type="button" (click)="closeModal()"
                        class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>