<div class="logindiv flex justify-center items-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="">
            <div class="mb-3">
                <div><label for="name">Email: </label></div>
                
                <input class="border" id="name" type="email" formControlName="emailId">
            </div>
            <div class="mb-3">
                <div><label for="name">Password: </label></div>
                
                <input class="border" id="name" type="text" formControlName="password">
            </div>
            <div class="mt-12 flex justify-center">
                <button type="submit" [disabled]="!loginForm.valid">Login</button>
            </div>
        </div>
    </form>
</div>
