<div class="flex justify-center">
    <div class="my-10 pb-5 text-3xl font-bold max-w-3xl">My Cart</div>
</div>
<div class="flex justify-center">
    <div *ngIf="cart" class="">
        <div class="grid grid-cols-3 border my-4 p-3 relative" *ngFor="let item of cart">
            <button class="absolute close mr-2"><i class="fa-solid fa-xmark"></i></button>
            <div class="w-40 h-40">
                <img [src]="item.product.images[0]">
            </div>
            <div class="flex items-center col-span-2 px-4">
                <div>
                    <p class="font-semibold">{{item.product.productName}}</p>
                    <p>
                        <span class="line-through text-gray-500">&#8377;{{item.product.price}}</span>
                        <span class="ml-1 mr-2">&#8377;{{item.product.price-(item.product.discountPercentage/100*item.product.price)}}</span>
                        <span class="text-pink-500"> {{item.product.discountPercentage}}% OFF</span>
                    </p>
                    <div class="custom-select">
                        <label for="" class="mr-2">Quantity</label>
                        <select [(ngModel)]="item.userQuantity" (change)="onChangeQunatity(item)">
                            <option value="{{i}}" *ngFor="let i of quantity">{{i}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

