<nav class="px-6 py-4 bg-gray-800 text-white flex justify-around items-center sticky top-0 z-10">
  <a routerLink="/" routerLinkActive="active">Fit Store</a>
  <div class="relative flex items-center">
    <i class="fa fa-search absolute ml-3 text-xl text-slate-500" aria-hidden="true"></i>
    <input type="text" class="bg-slate-200 w-96 h-10 rounded searchbar pl-10 text-slate-700">
  </div>
  <div class="flex space-x-4">
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <div *ngIf="authService.currentUser() === null">
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </div>
    <div *ngIf="authService.currentUser()" class="space-x-4">
      <a routerLink="/cart" routerLinkActive="active">Cart</a>
      <a routerLink="/myprofile">Profile</a>
      <button (click)="logout()">Logout</button>
    </div>
    
  </div>
</nav>
<ngx-ui-loader></ngx-ui-loader>
<app-toast-message></app-toast-message>
<router-outlet></router-outlet>