<nav class="p-6 bg-gray-800 text-white flex justify-around">
  <a routerLink="/" routerLinkActive="active">Fit Store</a>
  <div class="flex space-x-4">
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <div *ngIf="authService.currentUser() === null">
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </div>
    <div *ngIf="authService.currentUser()" class="space-x-4">
      <a routerLink="/cart" routerLinkActive="active">Cart</a>
      <a>Profile</a>
      <button (click)="logout()">Logout</button>
    </div>
    
  </div>
</nav>
<ngx-ui-loader></ngx-ui-loader>
<app-toast-message></app-toast-message>
<router-outlet></router-outlet>