<div class="flex justify-start m-15 p-4">
  <h2>All Products</h2>
</div>

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 p-4">
  <div class="max-w-sm border border-gray-800 rounded overflow-hidden shadow-lg m-4 cursor-pointer"
    *ngFor="let product of products" (click)="openProductDetail(product._id)">
    <img class="w-full h-40"
      src="{{product?.images[0]}}"
      alt="Sunset in the mountains">
    <div class="p-2">
      <p class="">{{product.productName}}</p>
      <p class="flex font-semibold">Rs. <span>{{product.price}}</span>
      </p>
    </div>
  </div>
</div>