<div class="flex">
    <div
    class="relative flex sidenav w-full max-w-[20rem] flex-col rounded-xl bg-white bg-clip-border p-4 text-gray-700 shadow-xl shadow-blue-gray-900/5">
    <div class="p-4 mb-2">
      <h5 class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
        FitKart
      </h5>
    </div>
    <nav class="flex min-w-[240px] flex-col gap-1 p-2 font-sans text-base font-normal text-blue-gray-700">
      <div class="relative block w-full" routerLink="/seller/dashboard" routerLinkActive="highlight rounded">
        <div role="button"
          class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none bg-blue-gray-50/50 text-start text-blue-gray-700 hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
          <button type="button" 
            class="flex items-center justify-between w-full p-3 font-sans text-xl antialiased font-semibold leading-snug text-left transition-colors border-b-0 select-none border-b-blue-gray-100 text-blue-gray-900 hover:text-blue-gray-900">
            <div class="grid mr-4 place-items-center">
                <i class="fa fa-th-large" aria-hidden="true"></i>
            </div>
            <p class="block mr-auto font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
              Dashboard
            </p>
          </button>
        </div>
      </div>
      <div class="relative block w-full" routerLink="/seller/orders" routerLinkActive="highlight rounded">
        <div role="button"
          class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none bg-blue-gray-50/50 text-start text-blue-gray-700 hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
          <button type="button" 
            class="flex items-center justify-between w-full p-3 font-sans text-xl antialiased font-semibold leading-snug text-left transition-colors border-b-0 select-none border-b-blue-gray-100 text-blue-gray-900 hover:text-blue-gray-900">
            <div class="grid mr-4 place-items-center">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <p class="block mr-auto font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
              Orders
            </p>
          </button>
        </div>
      </div>
      <div class="relative block w-full" routerLink="/seller/inventory" routerLinkActive="highlight rounded">
        <div role="button"
          class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none bg-blue-gray-50/50 text-start text-blue-gray-700 hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
          <button type="button"
            class="flex items-center justify-between w-full p-3 font-sans text-xl antialiased font-semibold leading-snug text-left transition-colors border-b-0 select-none border-b-blue-gray-100 text-blue-gray-900 hover:text-blue-gray-900">
            <div class="grid mr-4 place-items-center">
                <i class="fa fa-industry" aria-hidden="true"></i>
            </div>
            <p class="block mr-auto font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            Inventory
            </p>
          </button>
        </div>
      </div>
      <div class="relative block w-full">
        <div role="button"
          class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none bg-blue-gray-50/50 text-start text-blue-gray-700 hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
          <button type="button" 
            class="flex items-center justify-between w-full p-3 font-sans text-xl antialiased font-semibold leading-snug text-left transition-colors border-b-0 select-none border-b-blue-gray-100 text-blue-gray-900 hover:text-blue-gray-900">
            <div class="grid mr-4 place-items-center">
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <p class="block mr-auto font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
              Profile
            </p>
          </button>
        </div>
      </div>
      <div class="relative block w-full">
        <div role="button"
          class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none bg-blue-gray-50/50 text-start text-blue-gray-700 hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
          <button type="button" 
            class="flex items-center justify-between w-full p-3 font-sans text-xl antialiased font-semibold leading-snug text-left transition-colors border-b-0 select-none border-b-blue-gray-100 text-blue-gray-900 hover:text-blue-gray-900">
            <div class="grid mr-4 place-items-center">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </div>
            <p class="block mr-auto font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
              Settings
            </p>
          </button>
        </div>
      </div>
      <div class="relative block w-full">
        <div role="button" (click)="logout()"
          class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none bg-blue-gray-50/50 text-start text-blue-gray-700 hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
          <button type="button"
            class="flex items-center justify-between w-full p-3 font-sans text-xl antialiased font-semibold leading-snug text-left transition-colors border-b-0 select-none border-b-blue-gray-100 text-blue-gray-900 hover:text-blue-gray-900">
            <div class="grid mr-4 place-items-center">
                <i class="fa fa-power-off" aria-hidden="true"></i>
            </div>
            <p class="block mr-auto font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            Logout
            </p>
          </button>
        </div>
      </div>
    </nav>
  </div>
<router-outlet></router-outlet>
</div>